@model IOWebFramework.Core.Models.Project.ProjectMainInfo

<div class="card card-body bg-light">

    <div>@Html.LabelFor(x => x.Code, new { @readonly = "readonly" }) :  @Html.DisplayFor(x => x.Code, new { @readonly = "readonly" })</div>
    <div>@Html.LabelFor(x => x.FullName, new { @readonly = "readonly" }) :  @Html.DisplayFor(x => x.FullName, new { @readonly = "readonly" })</div>
    <div>@Html.LabelFor(x => x.Name, new { @readonly = "readonly" }) :  @Html.DisplayFor(x => x.Name, new { @readonly = "readonly" })</div>
    <div>@Html.LabelFor(x => x.Client, new { @readonly = "readonly" }) :  @Html.DisplayFor(x => x.Client, new { @readonly = "readonly" })</div>
    <div>@Html.LabelFor(x => x.StartDate, new { @readonly = "readonly" }) :  @Html.DisplayFor(x => x.StartDate, new { @readonly = "readonly" })</div>
    <div>@Html.LabelFor(x => x.EndDate, new { @readonly = "readonly" }) :  @Html.DisplayFor(x => x.EndDate, new { @readonly = "readonly" })</div>
    <div>@Html.LabelFor(x => x.Manager, new { @readonly = "readonly" }) :  @Html.DisplayFor(x => x.Manager, new { @readonly = "readonly" })</div>
    <div>@Html.LabelFor(x => x.Description, new { @readonly = "readonly" }) :  @Html.DisplayFor(x => x.Description, new { @readonly = "readonly" })</div>

</div>